body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #4CAF50;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.upload-box {
    margin: 20px 0;
}

.upload-input {
    margin: 10px 0;
}

.upload-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #45a049;
}

#preview-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}

.image-preview-container {
    width: 45%;
}

.image-preview {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
}
.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #45a049;
}
